<!-- <app-sample1></app-sample1> -->

  
<app-spinner></app-spinner>
<div  class="home-container" >
    <!-- <select  name="cars" Diasabled id="cars" class="dropdown" (change)="drop($event)" >
        <option value="on">SHOW</option>
        <option value="off">HIDE</option>
      </select>     -->

      <!-- <kendo-loader class="k-loader-pulsing-2 k-loader k-loader-primary k-loader-md">
        <div class="k-loader-canvas">
        <span class="k-loader-segment"></span>
        <span class="k-loader-segment"></span>
        </div>
    </kendo-loader> -->
    
      <kendo-dropdownlist [data]="listItems"  Diasabled> </kendo-dropdownlist>
</div>
