.sample1-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    height: 50px;
    width: 320px; 
    outline: none;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 0px 10px;
    font-size: 13px
  }


  p {
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }
  
  .register-form {
    max-width: 350px;
    margin: auto;
  }


  .checkbox-input{
    width: 150px;
    margin-top: 10px;
  }

  .registen-button{
   margin-right: 30px;
    width: 150px;
  }
  
  .reset-button{
    width: 100px;

  }

  .expiremental-element{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 150px;
  }


  