.sample1-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    height: 50px;
    width: 320px; 
    outline: none;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 0px 10px;
    font-size: 13px
  }


  p {
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }
  
  .register-form {
    max-width: 350px;
    margin: auto;
  }