/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.k-button .k-loader {
    margin-right: 8px;
  }


  .wrap {
    display: flex;
    align-items: center;
    margin: 0 -10px;
  }
  .example-item {
    flex: 0 0 33%;
    padding: 10px;
  }
  .example-item-title {
    margin-bottom: 10px;
    font-size: 90%;
    font-style: italic;
  }
  .k-block {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
  }


  @keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    margin-top: 15px;
    margin-left: 15px;
  }